body {
  height: 100vh;
  background-color: #eaeaea;
  color: rgba(0, 0, 0, 0.87);
  font-size: 5rem;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

/* ASTRONOMY CARD */

.astronomy-card {
	max-width: 75vw;
	margin: 50px auto;
	display: flex;
	background-color: #FFF;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);	
}

.astronomy-title {
    margin: 15px 0;
    padding: 5px 45px;
    font-size: 32px;
    color: #000000;
    text-transform: uppercase;
}

.astronomy-image-wrapper {
    padding: 10px;
    
}

img {
    cursor: pointer;
    max-height: 700px;
    max-width: 760px;
    filter: drop-shadow(6px 6px 12px rgba(0,0,0,0.45));
    transition: all 325ms ease-in-out;  
}

@media only screen and (min-width: 400px){
    img {
        max-width: 450px;
    }
}

/* @media only screen and (min-width: 768px){
    img {
        max-height: 10px;
    }
} */

@media only screen and (min-width: 500px){
    img {
        max-width: 490px;
    }
}

@media only screen and (min-width: 700px){
    img {
        max-width: 800px;
    }
}

@media only screen and (min-width: 1200px){
    img {
        max-width: 750px;
    }
}  

img:hover {
    transition: all 325ms ease-in-out;
    transform: scale(1.07);
}

p {
	font-size: 14px;
	padding: 0 30px;
	letter-spacing: 0.33px;
    line-height: 1.5;
    text-align: justify;
}

span {
	font-size: 15px;
	color: #ec1919;
	margin: 20px 0 -40px 0;
}

/* Navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li {
    float: left;
}

.logo_image {
    height: 5rem;
    padding-left: 10px;
    padding-top: 5px;
}

li p {
    display: block;
    color: white;
    text-align: center;
    padding-top: 5px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 24px;
}